.currOrder{
    border: 1px solid black;
    width: max-content;
    border-radius: 10px;
    padding-bottom: 10px;
    margin-top: 15px;
    margin-left: 20px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}
.currOrderDetails{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.currOrderName{
    margin-right: 50px;
    margin-left: 10px;
}
.order-id{
    margin-right: 10px;
}
.currOrder>img{
    height: 30px;
    width: 30px;
    margin-left: 14px;
}
@media (max-width:900px){
    .currOrder{
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        margin-right: 20px;
    }
}