.order{
    background-color: white;
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.orderDetails>*{
    padding: 5px 20px;
}
.orderIcon>img{
    height: 30px;
    width: 30px;
}
.orderIcon{
    padding: 0px 15px;
}
@media (max-width: 768px){
    .order{
        width: 100%;
        justify-content: space-around;
    }
}