.board{
    background: white;
    height: 100vh;
    width: 45rem;
    padding-top: 13px;
    border-radius: 16px;    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.head{
    padding: 22px;
    font-size: 1.5rem;
    font-weight: 600;
    margin-right: 40px;
}
.board-top>input{
    padding: 6px 20px; 
    margin: 5px;
    margin-left: 5rem;  
    margin-right: 10px;
    border-radius: 6px;
    border: 1px solid;
    border-color: lightgray;
}
.board-top>select{
    padding: 6px 20px;   
    margin: 5px;
    margin-right: 20px;
    border-radius: 6px;
    border-color: lightgray;
}
.CurrentOrders{
    display: flex;
    flex-wrap: wrap;
}
@media (max-width:900px){
    .board-top{
        display: flex;
        justify-content: center;
        align-items: center;
        width: min-content;
    }
    .board{
        width: fit-content;
        margin-right: 0.6rem;
        height: max-content;
    }
    .board-top>select{
        margin-right: 0px;
    }
    .board-top>input{
        margin-left: 0rem;
        margin-right: 0px;
        padding: 6px 0px;
        width: 100px;
        margin-right: 10px;
    }
    .head{
        margin-right: 0px;
    }
}