body{
  background: linear-gradient(to bottom ,
  #0084ff 0% ,
  #0084ff 30% ,
  white 30%,
  white 100%
  );
}

.dashboard-w-menu{
  margin-left: 18rem;
}
.dashboard-wo-menu{
  margin-left: 8rem;
}
.bott-board{
  margin-top: 1rem;
  display: flex;
}
@media (max-width: 900px) {
  .dashboard-wo-menu{
    margin-left: 1rem;
  }
  .dashboard-w-menu{
    margin-left: 1rem;
  }
  .bott-board{
    flex-direction: column;
  }  
}